# Python cache / bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env
*.env

# Databaser
data/*.db

# Logs
logs/
*.log

# Streamlit
.streamlit/

# Jupyter (ifall du experimenterar)
*.ipynb_checkpoints/

# OS / Editor files
.DS_Store
Thumbs.db

# pytest cache
.pytest_cache/

# Logs & db-filer
logs/
data/*.db
app/services/backfill_prices.py